body {
	margin: 0;
	font-size: $base-font-size;
	font-family: $base-font-stack;
}

header {
	padding: $base-spacing-unit-large;
	background-color: $grey;
}

h1, h2 {
	margin: 0;
	color: $blue;
}

h1 {
	font-size: $heading-one-size;
}

h2 {
	font-size: $heading-two-size;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

img {
	height: 170px;
	min-width: 100%;
}

ul {
	height: 100%;
	width: 2000%;
	display: flex;
	flex-shrink: 0;
	transition: all 0.5s;
}

li {
	flex: 1;
	width: 20%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

button {
	border: 0;
	color: $white;
	min-width: 100px;
	background-color: $blue;
	font-size: $base-font-size;
	font-family: $base-font-stack;
	padding: $base-spacing-unit $base-spacing-unit-medium;

	&:hover {
		cursor: pointer;
		background-color: darken($blue, 5%);
	}
}

.carousel {
	width: 100%;
	display: flex;
	overflow: hidden;
	justify-content: flex-start;
}

.button--group {
	text-align: center;
	background-color: $grey;
	padding: $base-spacing-unit-large;

	:nth-child(1) {
		border-radius: $base-spacing-unit 0 0 $base-spacing-unit;
	}
	:nth-child(2) {
		border-radius: 0 $base-spacing-unit $base-spacing-unit 0;
	}
}
